body {
  min-width: 320px;
  margin: 0;
  font-family: "OpenSans", sans-serif;
  font-weight: 300;
  color: #595767; }

h2 {
  margin: 0; }

.container {
  width: 960px;
  margin: auto; }

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/opensans.woff2) format("woff2"), url(../fonts/opensans.woff) format("woff"); }

.header {
  color: #000;
  background-size: cover;
  background-color: #0085d1; }

.main-nav {
  color: #fff;
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: none;
  width: 137px; }
  .main-nav--visible {
    display: block; }
  .main-nav__link--active {
    font-weight: bold; }
  .main-nav__logo {
    padding-top: 7px; }
  .main-nav__item {
    display: block;
    -ms-flex-positive: 1;
        flex-grow: 1; }
    .main-nav__item:first-child a {
      padding-top: 110px; }
    .main-nav__item:last-child a {
      padding-bottom: 180px; }
    .main-nav__item a {
      font-size: 14px;
      display: block;
      padding: 0 12px;
      height: 35px;
      line-height: 35px;
      text-decoration: none;
      background-color: #0085d1; }

.footer {
  font-size: 12px; }
  .footer__text, .footer__phone {
    line-height: 60px; }
  .footer__phone {
    padding-right: 35px;
    padding-left: 35px; }

.toggler {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  width: 40px;
  height: 40px;
  line-height: 3em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 2px solid #fff;
  border-radius: 50%; }
  .toggler span {
    margin-left: 0.7em;
    display: inline-block;
    vertical-align: bottom;
    width: 18px;
    height: 2px;
    background: #fff;
    position: relative;
    transition: background .3s .5s; }
    .toggler span:before, .toggler span:after {
      width: 100%;
      height: 2px;
      background: #fff;
      position: absolute;
      left: 0;
      content: '';
      transform-origin: 50% 50%;
      transition: top .3s .6s, transform .3s; }
    .toggler span:before {
      top: 0.5rem; }
    .toggler span:after {
      top: -0.5rem; }
  .toggler--close > span {
    transition: background .3s 0;
    background: transparent; }
    .toggler--close > span:before, .toggler--close > span:after {
      transition: top .3s, transform .3s .5s;
      top: 0; }
    .toggler--close > span:before {
      transform: rotate3d(0, 0, 1, 45deg); }
    .toggler--close > span:after {
      transform: rotate3d(0, 0, 1, -45deg); }

ul.tabs {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  height: 32px;
  border-bottom: 1px solid #333;
  width: 100%; }

ul.tabs li {
  float: left;
  margin: 0;
  cursor: pointer;
  padding: 0px 21px;
  height: 31px;
  line-height: 31px;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  border-bottom: 1px solid #333;
  background-color: #666;
  color: #ccc;
  overflow: hidden;
  position: relative; }

.tab_last {
  border-right: 1px solid #333; }

ul.tabs li:hover {
  background-color: #ccc;
  color: #333; }

ul.tabs li.active {
  background-color: #fff;
  color: #333;
  border-bottom: 1px solid #fff;
  display: block; }

.tab_container {
  border: 1px solid #333;
  border-top: none;
  clear: both;
  float: left;
  width: 100%;
  background: #fff;
  overflow: auto; }

.tab_content {
  padding: 20px;
  display: none; }

.tab_drawer_heading {
  display: none; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

h2 {
  font-weight: 300; }

@media (min-width: 320px) {

  .header__inner {
    -ms-flex-pack: center;
    justify-content: center;
    width: 295px;
    margin: auto; }

  .header__inner:after {
    content: '';
    clear: both;
    display: table; }

  .footer__inner {
    width: 300px;
    margin: auto; }

  .footer__inner:after {
    content: '';
    clear: both;
    display: table; } }

@media (min-width: 768px) {

  .header__inner {
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 746px; }

  .main-nav {
    position: static;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 50%;
    text-align: center; }

  .main-nav__item:first-child a {
    padding-right: 1em;
    padding-top: 0; }

  .main-nav__item:last-child a {
    padding-bottom: 0; }

  .main-nav__item a {
    line-height: 50px;
    height: 50px; }

  .footer__phone {
    padding-right: 50px;
    padding-left: 50px; }

  .footer__inner {
    width: 746px;
    font-size: 14px; }

  .toggler {
    display: none; } }

@media (min-width: 1280px) {

  .header__inner {
    width: 1280px; }

  .main-nav__item a {
    font-size: 16px; }

  .footer__phone {
    padding-right: 35px;
    padding-left: 35px; }

  .footer__inner {
    width: 1170px;
    font-size: 16px; } }

/*# sourceMappingURL=style.css.map */
