body {
  min-width: 320px;
  margin: 0;
  font-family: "OpenSans", sans-serif;
  font-weight: 300;
  color: #595767;
  background-color: #f2f2f2; }

h2 {
  margin: 0; }

.title {
  margin: auto;
  padding-top: 50px;
  padding-left: 20px; }

.container {
  margin: auto;
  background-color: #fff; }

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/opensans.woff2) format("woff2"), url(../fonts/opensans.woff) format("woff"); }

.header {
  color: #000;
  background-size: cover;
  background-color: #0085d1; }

.main-nav {
  color: #fff;
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: none;
  width: 137px; }
  .main-nav--visible {
    display: block; }
  .main-nav__link--active {
    font-weight: bold; }
  .main-nav__logo {
    padding-top: 7px; }
  .main-nav__item {
    display: block;
    -ms-flex-positive: 1;
        flex-grow: 1; }
    .main-nav__item:first-child a {
      padding-top: 110px; }
    .main-nav__item:last-child a {
      padding-bottom: 180px; }
    .main-nav__item a {
      font-size: 15px;
      display: block;
      padding: 0 12px;
      height: 35px;
      line-height: 35px;
      text-decoration: none;
      background-color: #0085d1; }

.footer {
  font-size: 12px; }
  .footer__text, .footer__phone {
    line-height: 60px; }
  .footer__phone {
    padding-right: 35px;
    padding-left: 35px; }

.toggler {
  position: absolute;
  z-index: 6;
  top: 10px;
  left: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  width: 40px;
  height: 40px;
  line-height: 3em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 2px solid #fff;
  border-radius: 50%; }
  .toggler span {
    margin-left: 0.7em;
    display: inline-block;
    vertical-align: bottom;
    width: 18px;
    height: 2px;
    background: #fff;
    position: relative;
    transition: background .3s .5s; }
    .toggler span:before, .toggler span:after {
      width: 100%;
      height: 2px;
      background: #fff;
      position: absolute;
      left: 0;
      content: '';
      transform-origin: 50% 50%;
      transition: top .3s .6s, transform .3s; }
    .toggler span:before {
      top: 0.5rem; }
    .toggler span:after {
      top: -0.5rem; }
  .toggler--close > span {
    transition: background .3s 0;
    background: transparent; }
    .toggler--close > span:before, .toggler--close > span:after {
      transition: top .3s, transform .3s .5s;
      top: 0; }
    .toggler--close > span:before {
      transform: rotate3d(0, 0, 1, 45deg); }
    .toggler--close > span:after {
      transform: rotate3d(0, 0, 1, -45deg); }

ul.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #e0e0e0; }

ul.tabs li {
  margin: 0;
  cursor: pointer;
  padding: 0px 21px;
  line-height: 50px;
  background-color: #fff;
  color: #bdbdbd;
  overflow: hidden; }

.tab_last {
  border-right: 1px solid #333; }

ul.tabs li:hover {
  background-color: #f2f2f2;
  color: #333; }

ul.tabs li.active {
  background-color: #fff;
  color: #2d9cdb;
  border-bottom: 3px solid #2d9cdb;
  height: 48px;
  display: block; }

.tab_container {
  border-top: none;
  clear: both;
  float: left;
  width: 100%;
  background: #fff;
  overflow: auto; }

.tab_content {
  padding: 20px;
  display: none; }

.tab-delete {
  color: red; }

.tab-add {
  color: #2d9cdb;
  line-height: 50px;
  position: relative;
  padding-left: 45px;
  padding-right: 20px;
  display: inline-block; }
  .tab-add:before {
    position: absolute;
    content: '';
    background-image: url(../img/plus.png);
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    top: 16px;
    left: 20px; }
  .tab-add:hover {
    background-color: #f2f2f2; }

.tab_drawer_heading {
  display: none; }

.tab-header {
  border-bottom: 1px solid #bdbdbd; }

.set__name {
  width: 240px;
  display: inline-block; }

.set__input {
  padding: 10px;
  border: 1px solid #e0e0e0; }

.set__city {
  padding: 10px;
  border: 1px solid #e0e0e0;
  width: 223px; }

.set__result {
  background-color: #ff8e41;
  border: none;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  padding: 15px 20px;
  border-radius: 3px;
  margin: 10px 0; }

.set:after {
  content: '';
  clear: both;
  display: table; }

.set__close {
  position: relative;
  left: 32px;
  top: 32px;
  width: 15px;
  height: 15px;
  opacity: 0.3; }
  .set__close:hover {
    opacity: 1;
    cursor: pointer; }
  .set__close:before, .set__close:after {
    position: absolute;
    right: -190px;
    top: -60px;
    content: ' ';
    height: 15px;
    width: 2px;
    background-color: #333; }
  .set__close:before {
    transform: rotate(45deg); }
  .set__close:after {
    transform: rotate(-45deg); }

.text {
  font-size: 12px;
  display: inline-block;
  color: #bdbdbd;
  padding: 12px 20px; }

.land__block {
  border: 1px solid #e0e0e0;
  padding: 15px;
  border-radius: 2px; }

.land__region {
  padding-bottom: 15px; }

.land__close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 15px;
  height: 15px;
  opacity: 0.3; }
  .land__close:hover {
    opacity: 1;
    cursor: pointer; }
  .land__close:before, .land__close:after {
    position: absolute;
    left: 25px;
    top: -20px;
    content: ' ';
    height: 15px;
    width: 2px;
    background-color: #333; }
  .land__close:before {
    transform: rotate(45deg); }
  .land__close:after {
    transform: rotate(-45deg); }

.land__text {
  position: relative; }

.land__country {
  background-color: #f2f2f2;
  padding: 7px 55px 7px 35px;
  border-radius: 20px;
  position: relative;
  margin-top: 10px;
  display: inline-block; }
  .land__country--thai:before {
    content: '';
    position: absolute;
    background-image: url(../img/thai.png);
    width: 16px;
    height: 13px;
    left: 13px;
    top: 11px; }
  .land__country--viet:before {
    content: '';
    position: absolute;
    background-image: url(../img/viet.png);
    width: 16px;
    height: 13px;
    left: 13px;
    top: 11px; }
  .land__country--indo:before {
    content: '';
    position: absolute;
    background-image: url(../img/indo.png);
    width: 16px;
    height: 13px;
    left: 13px;
    top: 11px; }

.land__add {
  padding: 7px 20px;
  border-radius: 20px;
  display: inline-block;
  text-transform: uppercase;
  margin: 25px 20px 0px 20px; }
  .land__add:hover {
    cursor: pointer; }
  .land__add--region {
    color: #0085d1;
    border: 1px solid #0085d1; }
  .land__add--country {
    color: #fff;
    background-color: #0085d1; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

/* -------------------------------------------------
    Datepicker cells
   ------------------------------------------------- */
.datepicker--cells {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.datepicker--cell {
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 32px;
  z-index: 1; }
  .datepicker--cell.-focus- {
    background: #f0f0f0; }
  .datepicker--cell.-current- {
    color: #4EB5E6; }
    .datepicker--cell.-current-.-focus- {
      color: #4a4a4a; }
    .datepicker--cell.-current-.-in-range- {
      color: #4EB5E6; }
  .datepicker--cell.-in-range- {
    background: rgba(92, 196, 239, 0.1);
    color: #4a4a4a;
    border-radius: 0; }
    .datepicker--cell.-in-range-.-focus- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell.-disabled- {
    cursor: default;
    color: #aeaeae; }
    .datepicker--cell.-disabled-.-focus- {
      color: #aeaeae; }
    .datepicker--cell.-disabled-.-in-range- {
      color: #a1a1a1; }
    .datepicker--cell.-disabled-.-current-.-focus- {
      color: #aeaeae; }
  .datepicker--cell.-range-from- {
    border: 1px solid rgba(92, 196, 239, 0.5);
    background-color: rgba(92, 196, 239, 0.1);
    border-radius: 4px 0 0 4px; }
  .datepicker--cell.-range-to- {
    border: 1px solid rgba(92, 196, 239, 0.5);
    background-color: rgba(92, 196, 239, 0.1);
    border-radius: 0 4px 4px 0; }
  .datepicker--cell.-range-from-.-range-to- {
    border-radius: 4px; }
  .datepicker--cell.-selected- {
    color: #fff;
    border: none;
    background: #5cc4ef; }
    .datepicker--cell.-selected-.-current- {
      color: #fff;
      background: #5cc4ef; }
    .datepicker--cell.-selected-.-focus- {
      background: #45bced; }
  .datepicker--cell:empty {
    cursor: default; }

.datepicker--days-names {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 8px 0 3px; }

.datepicker--day-name {
  color: #FF9A19;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex: 1;
      flex: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: .8em; }

.datepicker--cell-day {
  width: 14.28571%; }

.datepicker--cells-months {
  height: 170px; }

.datepicker--cell-month {
  width: 33.33%;
  height: 25%; }

.datepicker--years {
  height: 170px; }

.datepicker--cells-years {
  height: 170px; }

.datepicker--cell-year {
  width: 25%;
  height: 33.33%; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

/* -------------------------------------------------
    Datepicker
   ------------------------------------------------- */
.datepickers-container {
  position: absolute;
  left: 0;
  top: 0; }

.datepicker {
  background: #fff;
  border: 1px solid #dbdbdb;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-sizing: content-box;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  color: #4a4a4a;
  width: 250px;
  position: absolute;
  left: -100000px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s;
  z-index: 100; }
  .datepicker.-from-top- {
    transform: translateY(-8px); }
  .datepicker.-from-right- {
    transform: translateX(8px); }
  .datepicker.-from-bottom- {
    transform: translateY(8px); }
  .datepicker.-from-left- {
    transform: translateX(-8px); }
  .datepicker.active {
    opacity: 1;
    transform: translate(0);
    transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s; }

.datepicker-inline .datepicker {
  border-color: #d7d7d7;
  box-shadow: none;
  position: static;
  left: auto;
  right: auto;
  opacity: 1;
  transform: none; }

.datepicker-inline .datepicker--pointer {
  display: none; }

.datepicker--content {
  box-sizing: content-box;
  padding: 4px; }
  .-only-timepicker- .datepicker--content {
    display: none; }

.datepicker--pointer {
  position: absolute;
  background: #fff;
  border-top: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  width: 10px;
  height: 10px;
  z-index: -1; }
  .-top-left- .datepicker--pointer, .-top-center- .datepicker--pointer, .-top-right- .datepicker--pointer {
    top: calc(100% - 4px);
    transform: rotate(135deg); }
  .-right-top- .datepicker--pointer, .-right-center- .datepicker--pointer, .-right-bottom- .datepicker--pointer {
    right: calc(100% - 4px);
    transform: rotate(225deg); }
  .-bottom-left- .datepicker--pointer, .-bottom-center- .datepicker--pointer, .-bottom-right- .datepicker--pointer {
    bottom: calc(100% - 4px);
    transform: rotate(315deg); }
  .-left-top- .datepicker--pointer, .-left-center- .datepicker--pointer, .-left-bottom- .datepicker--pointer {
    left: calc(100% - 4px);
    transform: rotate(45deg); }
  .-top-left- .datepicker--pointer, .-bottom-left- .datepicker--pointer {
    left: 10px; }
  .-top-right- .datepicker--pointer, .-bottom-right- .datepicker--pointer {
    right: 10px; }
  .-top-center- .datepicker--pointer, .-bottom-center- .datepicker--pointer {
    left: calc(50% - 10px / 2); }
  .-left-top- .datepicker--pointer, .-right-top- .datepicker--pointer {
    top: 10px; }
  .-left-bottom- .datepicker--pointer, .-right-bottom- .datepicker--pointer {
    bottom: 10px; }
  .-left-center- .datepicker--pointer, .-right-center- .datepicker--pointer {
    top: calc(50% - 10px / 2); }

.datepicker--body {
  display: none; }
  .datepicker--body.active {
    display: block; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

/* -------------------------------------------------
    Navigation
   ------------------------------------------------- */
.datepicker--nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  border-bottom: 1px solid #efefef;
  min-height: 32px;
  padding: 4px; }
  .-only-timepicker- .datepicker--nav {
    display: none; }

.datepicker--nav-title,
.datepicker--nav-action {
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }

.datepicker--nav-action {
  width: 32px;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .datepicker--nav-action:hover {
    background: #f0f0f0; }
  .datepicker--nav-action.-disabled- {
    visibility: hidden; }
  .datepicker--nav-action svg {
    width: 32px;
    height: 32px; }
  .datepicker--nav-action path {
    fill: none;
    stroke: #9c9c9c;
    stroke-width: 2px; }

.datepicker--nav-title {
  border-radius: 4px;
  padding: 0 8px; }
  .datepicker--nav-title i {
    font-style: normal;
    color: #9c9c9c;
    margin-left: 5px; }
  .datepicker--nav-title:hover {
    background: #f0f0f0; }
  .datepicker--nav-title.-disabled- {
    cursor: default;
    background: none; }

.datepicker--buttons {
  display: -ms-flexbox;
  display: flex;
  padding: 4px;
  border-top: 1px solid #efefef; }

.datepicker--button {
  color: #4EB5E6;
  cursor: pointer;
  border-radius: 4px;
  -ms-flex: 1;
      flex: 1;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 32px; }
  .datepicker--button:hover {
    color: #4a4a4a;
    background: #f0f0f0; }

.filter {
  display: inline-block; }

.date {
  width: 270px;
  display: inline-block; }
  .date__calendar {
    width: 255px;
    border: 1px solid #e0e0e0;
    padding: 15px 0px 15px 20px; }

.night {
  width: 170px;
  display: inline-block; }

.amount {
  width: 215px;
  display: inline-block; }

.price {
  display: inline-block;
  width: 245px; }

.sel {
  padding: 15px 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  width: 103%;
  border: 1px solid #e0e0e0; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

h2 {
  font-weight: 300; }

@media (min-width: 320px) {

  .header__inner {
    -ms-flex-pack: center;
    justify-content: center;
    width: 295px;
    margin: auto; }

  .header__inner:after {
    content: '';
    clear: both;
    display: table; }

  .footer__inner {
    width: 300px;
    margin: auto; }

  .footer__inner:after {
    content: '';
    clear: both;
    display: table; } }

@media (min-width: 768px) {

  .title {
    padding-top: 0; }

  .header__inner {
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 746px; }

  .main-nav {
    position: static;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
    width: 100%; }

  .main-nav__item:first-child a {
    padding-right: 1em;
    padding-top: 0; }

  .main-nav__item:last-child a {
    padding-bottom: 0; }

  .main-nav__item a {
    line-height: 50px;
    height: 50px; }

  .footer__phone {
    padding-right: 50px;
    padding-left: 50px; }

  .footer__inner {
    width: 746px;
    font-size: 14px; }

  .toggler {
    display: none; }

  ul.tabs li {
    display: inline-block;
    float: left; }

  .set__result {
    float: right;
    margin: 35px 0; }

  .set__result:hover {
    background-color: #ffac73; }

  .set__close:before, .set__close:after {
    left: 190px;
    top: -60px; }

  .land__close:before, .land__close:after {
    left: 25px;
    top: -22px; }

  .land__country {
    display: inline-block; }

  .land__add {
    margin: 25px 20px 25px 20px; } }

@media (min-width: 1280px) {

  .title {
    width: 960px; }

  .container {
    width: 960px; }

  .header__inner {
    width: 1280px; }

  .main-nav {
    width: 50%; }

  .main-nav__item a {
    font-size: 16px; }

  .footer__phone {
    padding-right: 35px;
    padding-left: 35px; }

  .footer__inner {
    width: 1170px;
    font-size: 16px; } }

@media print {

  .datepickers-container {
    display: none; } }

/*# sourceMappingURL=style.css.map */
