.footer {
	font-size: 12px;
	&__text,&__phone {
		line-height: 60px;

	}
	&__phone {
	padding-right: 35px;
	padding-left: 35px;
	@media (min-width: $screen-sm) {
		padding-right: 50px;
		padding-left: 50px;
}
	@media (min-width: $screen-lg) {
		padding-right: 35px;
		padding-left: 35px;
}
	}
	&__inner {
	@media (min-width: $screen-xs) {
			width: 300px;
			margin:auto;
			&:after {
			content: '';
			clear: both;
			display: table;
		}
		}
	@media (min-width: $screen-sm) {
		width: 746px;
		font-size: 14px;
	}
	@media (min-width: $screen-lg) {
		width: 1170px;
		font-size: 16px;
		}
	
	}
}