.footer {
	font-size: 12px;
		&__title {
		font-weight: bold;
		text-transform: uppercase;
		display: inline-block;
		line-height: 28px;
	}
	&__inner {
	@media (min-width: $screen-xs) {
			width: 300px;
			margin:auto;
			&:after {
			content: '';
			clear: both;
			display: table;
			}
		}
	@media (min-width: $screen-sm) {
		width: 746px;
	}
	@media (min-width: $screen-lg) {
		width: 1200px;
		margin-top: 50px;
		}
	
	}
	&__copyright {
		float: right;
		line-height: 90px;
	}
}