.header {
	color: $text-black;
	background-size: cover;
	background-color: $blue;
	&__inner {

		// display: flex;
		// flex-direction:column;
		@media (min-width: $screen-xs) {		
			justify-content: center;
 			width: 295px;
 			margin:auto;
 			&:after {
				content: '';
				clear: both;
				display: table;
			}
 		}
		@media (min-width: $screen-sm) {

			justify-content: space-between;
			width: 746px;
		}
		@media (min-width: $screen-lg) {
			width: $screen-lg;
			}
		}

}

