// body {
//   background-color: #000;
//   box-sizing: border-box;
//   color: #fff;
//   margin: 0;
//   padding-top: 3em;
  
//   @media (min-width: $screen-xs) {
//     padding-top: 0;
//   }
// }

.page-header {
  top: 0;
  right: 0;
  left: 0;
  height: 3em;
  
  @media (min-width: $screen-sm) {
    position: static;
    height: auto;
  }
}


