.set {

	&__name {
		width: 240px;
		display: inline-block;
	}

	&__input {
		padding: 10px;
		border:1px solid $x-light-grey;
	}
	&__city {
		padding: 10px;
		border:1px solid $x-light-grey;
		width: 223px;
	}
	&__result {
		background-color: $orange;
		border: none;
		color: $text-white;
		font-size: $font-size;
		text-transform: uppercase;
		padding: 15px 20px;
		border-radius: 3px;
		margin: 10px 0;
		@media (min-width:$screen-sm) {
		float: right;
		margin: 35px 0;
		&:hover {
			background-color: #ffac73;
		}
		}
	}
	&:after {
		content: '';
		clear: both;
		display: table;
	}
	&__close {
		position: relative;
		left:32px;
		top: 32px;
		width: 15px;
		height: 15px;
		opacity: 0.3;
		&:hover {
			opacity: 1;
			cursor:pointer;
		}
		&:before, &:after {
		position: absolute;
		right: -190px;
		top: -60px;
		content: ' ';
		height: 15px;
		width: 2px;
		background-color: #333;
		@media (min-width: $screen-sm) {
			left: 190px;
			top: -60px;
			}
		}
		&:before {transform: rotate(45deg);	}
		&:after {transform: rotate(-45deg);	}
	}
}
.text {
		font-size: $font-size-s;
		display: inline-block;
		color: $lighter-grey;
		padding: 12px 20px;;
}