.toggler {
  position: absolute;
  z-index: 6;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  line-height: 3em;
  user-select: none;
  border: 2px solid #fff;
  border-radius:50%;
  @media (min-width: $screen-sm) {
    display: none;
  }
  
  span {
    margin-left: 0.7em;
    display: inline-block;
    vertical-align: bottom;
    width: 18px;
    height: 2px;
    background: #fff;
    position: relative;
    transition: background .3s .5s;
    
    &:before,
    &:after {
      width: 100%;
      height: 2px;
      background: #fff;
      position: absolute;
      left: 0;
      content: '';
      transform-origin: 50% 50%;
      transition: top .3s .6s, transform .3s;
    }
    
    &:before {
      top: 0.5rem;
    }
    
    &:after {
      top: -0.5rem;
    }
  }
  
  &--close {
    > span {
      transition: background .3s 0;
      background: transparent;
      
      &:before,
      &:after {
        transition: top .3s, transform .3s .5s;
        top: 0;
      }
      
      &:before {
        transform: rotate3d(0, 0, 1, 45deg);
      }
      
      &:after {
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }
  }
}