body {
  min-width: 320px;
  margin: 0;
  font-family: $font-family;
  font-weight: 300;
  color: $text-grey;
  background-color: #f2f2f2;

}
h2 {
	margin: 0;
}
.title {
	margin: auto;
	padding-top: 50px;
	padding-left: 20px;
	@media (min-width:$screen-sm) {
		padding-top: 0;
	}
		@media (min-width: $screen-lg) {

		width: 960px;
		
	}
}
.container {
	margin: auto;
	background-color: #fff;
	@media (min-width: $screen-lg) {
	width: 960px;

	}
}
