@import 'variables.scss';
@import 'mixins.scss';
@import 'global.scss';
@import 'fonts.scss';
@import 'sprite.scss';


@import 'blocks/header.scss';
@import 'blocks/main-nav.scss';
// @import 'blocks/main-title.scss';
// @import 'blocks/toggle-nav.scss';
@import 'blocks/footer.scss';
@import 'blocks/toggler.scss';
@import 'blocks/tabs.scss';
@import 'blocks/set.scss';
@import 'blocks/land.scss';
@import 'blocks/_datepicker-config.scss';
@import 'blocks/cell.scss';
@import 'blocks/datepicker.scss';
@import 'blocks/navigation.scss';
@import 'blocks/date.scss';
@import 'blocks/night.scss';
@import 'blocks/amount.scss';
@import 'blocks/price.scss';
@import 'blocks/category.scss';
@import 'blocks/rating.scss';
@import 'blocks/food.scss';
@import 'blocks/location.scss';
@import 'blocks/sel.scss';
@import 'blocks/tab-delete.scss';
@import 'blocks/contact.scss';
@import 'blocks/social.scss';








// $color: #000;
// .about {
// background-color: $color;
// 	margin: 0;
// 	}
a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
h2 {
	font-weight: 300;
}