@import 'variables.scss';
@import 'mixins.scss';
@import 'global.scss';
@import 'fonts.scss';
@import 'sprite.scss';


@import 'blocks/header.scss';
@import 'blocks/main-nav.scss';
// @import 'blocks/main-title.scss';
// @import 'blocks/toggle-nav.scss';
@import 'blocks/footer.scss';
@import 'blocks/toggler.scss';
@import 'blocks/tabs.scss';



// $color: #000;
// .about {
// background-color: $color;
// 	margin: 0;
// 	}
a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
h2 {
	font-weight: 300;
}