$screen-xs:                   320px;
$screen-sm:                   768px;
$screen-md:                   1170px;
$screen-lg:                   1280px;
$screen-xl:                   1920px;

$text-white:                  #fff;
$text-grey: 				  #595767;
$text-dark: 				  #201c38;
$light-grey: 				  #eaeaec;
$lighter-grey:				  #f7f7f7;
$azure:						  #03eaa5;
$blue:					#b2dad0;
$black: #000;



$font-family:                 'Jura', sans-serif;
$font-size:                   14px;
$font-family-second:   		  'Ubuntu',sans-serif;
$font-family-third:          'Nord',sans-serif;
