$screen-xs:                   320px;
$screen-sm:                   768px;
$screen-md:                   1170px;
$screen-lg:                   1280px;
$screen-xl:                   1920px;

$text-white:                  #fff;
$text-black:					#000;
$text-grey: 				  #595767;
$text-dark: 				  #201c38;
$light-grey: 				  #f2f2f2;
$lighter-grey:				  #bdbdbd;
$x-light-grey: 					#e0e0e0;
$azure:						  #03eaa5;
$black: 					#000;
$blue:						#0085d1;
$orange:					#ff8e41;
$yellow:#ffca00;
$green: #27ae60;
$red:#eb5757;

$font-family:                 'OpenSans', sans-serif;
$font-size:                   15px;
$font-size-s:					12px;
$font-family-second:   		  'Ubuntu',sans-serif;
$font-family-third:          'OpenSans',sans-serif;
